/* Customized Theme Styles for HR Jobs -- Site Wide*/
/* General Styles */

/* Logo */
.logo {
  width: 225px;
  height: 136px;
  padding: 12px;
  background-color: #003f87;
}
.logo.stacked {
    height: 150px;
}

.logo.horizontal {
  width: 400px;
  height: 100px;
}

.logo svg {
  width: 100%;
  height: 100%;
}

.logo.full-color,
.logo.grayscale,
.logo.black {
    background-color: #fff;
  }

.logo.reversed {
    background-color: #1c2023;
  }

.logo.make-waves {
    width: 266px;
    height: 266px;
  }

.logo svg .cls-1 {
    fill: #003f87;
  }

.logo svg .cls-2 {
    fill: #007ac8;
  }

.logo svg .cls-3 {
    fill: #1c2023;
  }

.logo svg .cls-4 {
    fill: #808285;
  }

.logo svg .cls-5 {
    fill: #fff;
  }

a.has-logo:focus {
  outline: 3px dotted white;
  outline-offset: 3px;
}
/* Main styles */
.moreWhiteSpace {
  margin-top:1em;
  margin-bottom:1em;
}
.main-container {
  padding: 0;
}

.main-container .button-link {
  color: white;
  background-color: #003f87;
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 5px 20px;
  text-transform: uppercase;
  transition: .2s ease;
}
.main-container .button-link a {
  color: white !important;
}
.main-container .button-link:hover, .main-container .button-link:focus {
  background-color: white;
  color: #003f87;
  text-decoration: none;
  border: 2px solid #003f87;
}

.main-container a {
  color: #007ac8;
  text-decoration: underline;
  border: 2px solid transparent;
}
.main-container a:focus:not(.button-link), .main-container a:hover:not(.button-link) {
  color:#003f87;
  background-color: #e3e7e9;
  text-decoration: none;
}

.main-container a:focus:not(.button-link) {
  border: 2px dotted;
}

.front-page-intro a {
  color: #0057a1;
}

.front-page-intro a:hover:not(.button-link), .front-page-intro a:focus:not(.button-link) {
  color: #262b2f;
  background-color: #b6b9ba;
}
.western-quick-links ul li a:hover, .western-quick-links ul li a:focus {
    color: #262b2f;
    background-color: #b6b9ba;
    text-decoration: none;
}

.western-quick-links ul li a:focus {
  border: 2px dotted;
}
.menu-bar a {
  padding: 12px;
  background-color: #0070b6;
  padding-left: 30px;
}
.menu-bar a:hover {
  background-color: #BAD80A;
  color: #111;
}
.menu-bar a:focus {
  background-color: #BAD80A;
  color: #111;
}
.menu-bar li.active > a {
  background-color: #ddd;
  color: #003f87;
}

.menu-bar li.active:hover {
  background-color: #bad80a;
}

.menu-bar li.active > a:focus, .menu-bar li.active > a:hover {
  background-color: #bad80a;
}

.accordian-menu li.active > a {
  background-color: #e9e9e9;
}
.why-western-grid {
  margin: 0 9px;
  display: grid;
  grid-template-columns: 1fr;
}

.why-western-grid h3 {
  font-size: 1em;
}
.why-western-grid a {
  text-transform: uppercase;
}
.site-footer .menu a:focus {
    color: #bad80a;
}

.western-card .western-contact-info .western-address:before, .western-card .western-contact-info .western-telephone:before, .western-card .western-contact-info .western-contact:before {
  color: #ffc61e;
  display: block;
  position: relative;
  height: 0px;
  top: 0;
  left: -20px;
  font-size: 110%;
}
.western-card .western-address:before {
  font-family: fontello;
  content: "";
}

.western-card .western-telephone:before {
  font-family: fontello;
  content: "!";
}

.western-card .western-contact:before {
  font-family: fontello;
  content: "%";
}

.western-card h1 a:focus {
  color: #6b7d06;
}
.screen-reader-text {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  overflow: hidden;
  height: 1px;
  width: 1px;
}

/* Desktop Styles */
@media screen and (min-width: 771px) {
  body {
    background: white;
  }
  .main-container {
    margin-top: -50px;
    max-width: none;
  }
  .western-header {
    max-width: none;
    background-color: rgba(255, 255, 255, .8);
    border-top: none;
  }
  .center-content {
    max-width: none;
  }
  .western-header nav {
    margin-right: 30px;
    bottom: 15px;
  }
  .page-header-container {
    background: maroon;
    position: relative;
    max-width: none;
    padding: 0;
    margin-top: 50px;
    height: 458px;
    margin-bottom: 48px;
  }
  .site-title {
    margin-top: 60px;
    height: 60px;
    width: 100%;
    background-color: rgba(0, 112, 182, .9);
    position: absolute;
    top: -60px;
    left: -1px;
    z-index: 1;
  }
  .site-title span {
    color: white;
    line-height: 60px;
  }

  .page-title {
    background-image: url('../images/splash.jpg');
    background-position-y: 50%;
    height: 520px;
    position: absolute;
    top: -62px;
    left: -1px;
  }
  .menu-bar {
    background-color: #fff;
    max-width: calc(100% - 20px);
    padding: 10px 10px 18px 10px;
    position:absolute;
    bottom: 0;
    margin-left: 50%;
    transform: translate(-50%,50%);
  }
  .menu-bar a {
    padding-left: 12px;
    font-size: .9em;
    text-transform: uppercase;
  }
  /* Footer */
  .western-card {
    margin-top: -20px;
  }
  .why-western-grid {
    margin: 0 -10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .why-western-grid a {
    text-transform: uppercase;
  }
}

/* Large Screen Size */
@media screen and (min-width: 900px) {
  .menu-bar {
    width: 1200px;
    max-width: calc(100% - 20px);
    padding: 10px 10px 22px 10px;
  }

  .menu-bar a {
   font-size: 1.15em;
  }

  .why-western-grid {
    margin: 0 -10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .why-western-grid a {
    text-transform: uppercase;
  }
}

/* Really Large Screen Size */
@media screen and (min-width: 1184px) {
  .why-western-grid {
    margin: 0 -10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .why-western-grid a {
    text-transform: uppercase;
  }

  .logo.make-waves {
    width: 306px;
    height: 154px;
  }
}

/* Mobile styles */

@media screen and (max-width: 770px) {
  .page-header-container {
    height: 300px;
    background-image: url('../images/splash.jpg');
    background-size: cover;
    background-position: 100%;
  }

  .site-title {
    background: #0070b6;
    padding-top: 2%;
  }
  .site-title span {
    color: white;
    line-height: 50px;
    text-align: left;
  }
}

.skip-container {
  margin: 0;
  display: block;
  width: 100%;
  padding: 2px 0 3px 0;
  text-align: center;
  background-color: #666;
}

.skip-container .skip-link {
 position:absolute;
 clip:rect(1px, 1px, 1px, 1px);
 clip:rect(1px 1px 1px 1px);
 width:1px;
 height:1px;
 overflow:hidden;
 color: #fff;
font-size: 1.2em;
}
.skip-container .skip-link:focus,.skip-link-container .skip-link:active {
 height:auto;
 clip:auto;
 overflow:visible;
 position:static;

}
