/* -----------------------------------------------------------------------------
Front Page Styles
------------------------------------------------------------------------------*/
.main-container {
  margin-bottom: 0;
}

.main-container h1, h2 {
  text-transform: uppercase;
}
.front-page-wrap {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}
.front-page-wrap h2 {
  margin: 0;
}

/* -------------------------------------------------------------------------- */
#welcome {
  background: linear-gradient(#e9e9e9 70%, #c8c8c8 0);
  padding: 40px 0;
  padding-top: 60px;
  border-bottom: 10px solid white;
}
#welcome .front-page-wrap {
  display: flex;
  flex-flow: row;
}
.front-page-video {
  margin-right: 30px;
}
.front-page-video iframe {
  background: #333;
  width: 560px;
  max-width: calc(90vw - 20px);
  max-height: 50vw;
  height: 315px;
  border: 10px solid white;
  box-sizing: border-box;
}
.tagline span {
  font-family: Garamond, serif;
  font-size: 1.6rem;
  text-transform: none;
  font-style: italic;
  color: #003F87;
  position: absolute;
  bottom: 0;
}

/* -------------------------------------------------------------------------- */
#why-western {
  background: #0070b6;
  padding: 60px 0;
  text-transform: uppercase;
  font-size: 1.2em;
  border-bottom: 10px solid white;
}
#why-western a {
  color: white;
}
#why-western h2 {
  color: white;
}
.why-buckets {
  margin: 30px auto 0;
  display: flex;
  justify-items: space-between;
}
.why-buckets li {
  list-style: none;
  display: inline-block;
  text-align: center;
  margin: 0;
  flex: 1;
}

.why-buckets li a .cls-1 {
  fill: white !important;
}

.main-container .why-buckets li a:hover, .main-container .why-buckets li a:focus {
  background-color: transparent;
}

.main-container .why-buckets li a:focus {
  border: none;
}
/* -------------------------------------------------------------------------- */
#testimonials {
  background: #003f87;
  color: white;
  padding: 60px 0;
  text-align: center;
  border-bottom: 10px solid white;
}
#testimonials h2, #testimonials h3 {
  color: white;
  margin-bottom: 0;
}
#testimonials h4 {
  color: #BAD80A;
  font-family: Garamond, serif;
  font-style: italic;
  margin: 0;
}
.testimonial:nth-of-type(1) {
  margin-top: 60px;
}
.testimonial {
  margin-top: 220px;
  background: #33659f;
}
.quote-img {
  transform: translatey(-50%);
  margin-bottom: -48px;
}

.quote-img .cls-1 {
  fill: #003f87 !important;
}

.quote-img .cls-2 {
  fill: white !important;
}

.quote:before, .quote:after {
  content: '"';
}
.quote {
  width: 75%;
  margin: 30px auto;
  font-size: 1.1em;
}
.testimonial-photo-border {
  margin: -110px auto 110px;
  border: 10px solid #003F87;
  border-radius: 100%;
  width: 228px;
  height: 228px;
  transform: translatey(50%);
}
.testimonial-photo {
  background-position: center;
  background-size: cover;
  border: solid 4px #BAD80A;
  border-radius: 100%;
  width: 220px;
  height: 220px;
}

/* -------------------------------------------------------------------------- */
#life-in-bellingham {
  background-position-y: 100%;
  background-size: cover;
  padding: 60px 0;
  min-height: 480px;
  border-bottom: 10px solid white;
  color: #003F87;
}
#life-in-bellingham .front-page-wrap {
  display: flex;
}
#life-in-bellingham ul {
  margin-bottom: 12px;
}
.life-info {
  flex: 2;
  background-color: white;
  opacity: 0.8;
  padding: 1em;
}
.life-info li {
  margin: 5px 30px;
}
.map {
  flex: 1;
  text-align: center;
}

/* -------------------------------------------------------------------------- */
#national-recognition {
  background: #BAD80A;
  padding: 60px 0;
}
#national-recognition .front-page-wrap {
  display: flex;
}
.recognition-text p {
  padding-bottom: 12px;
}
#national-recognition .icon {
  margin-right: 30px;
}

/* -----------------------------------------------------------------------------
 Responsive Styles
----------------------------------------------------------------------------- */
/* Medium Viewports */
@media screen and (max-width: 900px) {
  #welcome .front-page-wrap {
    flex-flow: column-reverse;
  }
  #welcome {
    background: linear-gradient(#e9e9e9 70%, #c8c8c8 0%);
  }
  .front-page-intro p {
    margin-bottom: 30px;
  }
  .front-page-video {
    text-align: center;
    margin: 0 0 30px 0;
  }
  .tagline span {
    position: absolute;
    left: 0;
    bottom: -30px;
    width: 100%;
    text-align: center;
  }
}

/* Small Viewports */
@media screen and (max-width: 770px) {
  .page-header-container h2 {
    display: none;
  }

  .why-buckets {
    flex-flow: column;
  }
  .why-buckets li {
    margin-bottom: 30px;
  }
  .why-buckets li:last-of-type {
    margin-bottom: 0;
  }
  .testimonial-photo-border {
    width: 208px;
    height: 208px;
  }
  .testimonial-photo {
    width: 200px;
    height: 200px;
  }

  #life-in-bellingham .front-page-wrap {
    flex-flow: column;
  }
  .map {
    margin-top: 40px;
  }
}

@media screen and (max-width: 420px) {
  #national-recognition .front-page-wrap {
    flex-flow: column;
  }
  #national-recognition {
    margin-bottom: 10px;
  }
  .icon {
    text-align: center;
  }
  .recognition-info button {
    margin-left: 50%;
    transform: translatex(-50%);
    width: 200px;
  }
}

/* Map SVG */


  .map svg .cls-1,
  .map svg .cls-2,
  .map svg .cls-4,
  .map svg .cls-8,
  .map svg .cls-9 {
    fill: none;
  }

  .map svg .cls-2,
  .map svg .cls-4,
  .map svg .cls-8 {
    stroke: #fff;
  }

  .map svg .cls-2 {
    stroke-miterlimit: 10;
  }

  .map svg .cls-3 {
    fill: #fff;
  }

  .map svg .cls-4 {
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
  }

  .map svg .cls-5 {
    fill: #183170;
  }

  .map svg .cls-6 {
    clip-path: url(#clip-path);
  }

  .map svg .cls-7 {
    fill: #bad80a;
  }

  .map svg .cls-8,
  .map svg .cls-9 {
    stroke-miterlimit: 3.86;
  }

  .map svg .cls-8 {
    stroke-width: 1.25px;
  }

  .map svg .cls-9 {
    stroke: #183170;
    stroke-width: 1.56px;
  }
