/* -----------------------------------------------------------------------------
Interior Page Styles
------------------------------------------------------------------------------*/
.main-container h1 {
  font-size: 2.5em;
  line-height: 2em;
  border-bottom: 3px solid #ededed;
  text-transform: none;
}
.content-wrapper {
  background: white;
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
}

.content-wrapper a {
  color: #006EBB;
  border: 2px solid transparent;
}

.western-contact-info a {
  color: white;
}
/* -----------------------------------------------------------------------------
Main Content Area Pageup Template
------------------------------------------------------------------------------*/
/* Unset bolding added by PageUp, makes hover/focus less aggressive */
#jobs-form .button {
  font-weight: normal !important;
}

#jobs-form .button:hover, #jobs-form .button:focus, #jobs-form .button:active {
  box-shadow: 2px 2px 0 #262b2f;
  color: #fff;
  background: #667986;
}

#jobs-form .button:focus {
  border: 2px dotted;
}

#jobs-form thead {
    background-color: #eeeeee;
}

#jobs-form th {
    font-weight: 700;
}

#jobs-form th:nth-child(1) {
  display:inline;
}

#jobs-form th:nth-child(2) {
  position:relative;
  left:-2em;
}

#jobs-form th.th-Department {
    position: relative;
    left: -1.3em;
}

#jobs-form th.th-Closes {
    position: relative;
    left: -3.3em;
}

#job-content h2 {
  font-size: 28px;
  line-height: initial;
}
#PageUpPeopleLink { display:none;}
/*
#PageUpPeopleLink a {
  color:#0070b6;
  font-size:inherit;
}
*/
/* -----------------------------------------------------------------------------
Sidebar Styles for Pageup Template
------------------------------------------------------------------------------*/
.sidebar p {
  margin-bottom: 24px;
}

.sidebar p a:not(.button-link) {
  padding: .5%;
}

.sidebar h3 {
  text-align: center;
  border-bottom: 3px solid #ededed;
  line-height: 2.5em;
}

.button-link.update-profile {
  padding: 2% 22%;
  position: relative;
  top: .3%;
}

@media (max-width: 1250px) {
  .button-link.update-profile {
    padding: 1% 16%;
  }
}

@media (min-width: 770px and max-width: 900px) {
  .button-link.update-profile {
    padding: 1% 4%;
  }
}

/*Override the PageUp default of 1px top margin. This centers the checkboxes.*/
ul.filter li input {
    margin: 7px 0 0 -17px;
}

/* -----------------------------------------------------------------------------
Mobile Styles
------------------------------------------------------------------------------*/
@media screen and (max-width: 770px) {
  .main-container h1 {
    font-size: 2.3em;
    line-height: 1.2em;
  }

  .main-container h2 {
    /* font-size: 2.5em; */
    line-height: 1.1;
  }
  .content-wrapper {
    margin-top: 0;
  }
  .column-wrapper {
    flex-flow: column;
  }
  .column-wrapper > :first-child {
    margin-left: 5px;
  }
  .column-wrapper > :last-child {
    margin-right: 5px;
  }
  .main-column {
    margin-bottom: 30px;
  }

  .button-link {
    text-align: center;
  }
}
