@charset "UTF-8";
/**
 * @file
 * WWU Brand Colors
 */
@import "https://fonts.googleapis.com/css?family=Muli:200,300,400%7COvo";
@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello-63060178.eot") format("embedded-opentype");
  src: url("../fonts/fontello-63060178.woff") format("woff"), url("../fonts/fontello-63060178.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fontello2';
  src: url("../fonts/fontello-63060178.eot") format("embedded-opentype");
  src: url("../fonts/fontello2-63060178.woff") format("woff"), url("../fonts/fontello2-63060178.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 1, ../sass/modules/wwu/_menu-icons.scss */
.menu-link-icon {
  color: #003f87;
  font-family: 'fontello2';
  transition: all 0.5s ease;
  font-size: 2em;
}

/* line 8, ../sass/modules/wwu/_menu-icons.scss */
.menu-link-text {
  opacity: 0;
  height: 0px;
  width: 0px;
  display: block;
  position: absolute;
  overflow: hidden;
}

.page_up_button {

  margin-bottom:2em;
}

/* line 17, ../sass/modules/wwu/_menu-icons.scss */
#calendar:before {
  content: "";
}

/* line 21, ../sass/modules/wwu/_menu-icons.scss */
#directory:before {
  content: "";
}

/* line 25, ../sass/modules/wwu/_menu-icons.scss */
#index:before {
  content: "";
}

/* line 29, ../sass/modules/wwu/_menu-icons.scss */
#map:before {
  content: "";
}

/* line 33, ../sass/modules/wwu/_menu-icons.scss */
#mywestern:before {
  content: "";
}

/**
 * Mixin function that implements Google's material design spec for using drop shadow to simulate depth.
 * A SASS implementation of Florian Kutschera's LESS mixin.
 *
 * Source: https://medium.com/@Florian/freebie-google-material-design-shadow-helper-2a0501295a2d#.p2rtj2fiu
 * Author: Florian Kutschera (@gefangenimnetz), Conceptboard GmbH (@conceptboardapp)
 */
/* CSS reset */
/* line 3, ../sass/partials-main/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font-weight: normal;
  line-height: 1.5em;
  vertical-align: baseline;
  background: transparent;
}

/* line 22, ../sass/partials-main/_reset.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 26, ../sass/partials-main/_reset.scss */
:focus {
  outline: 0;
}

/*** Header ***/
/* line 2, ../sass/partials-main/_header.scss */
header {
  box-sizing: border-box;
  padding: 10px 0;
  position: relative;
  margin-bottom: 5px;
  z-index: 1;
}
@media (max-width: 770px) {
  /* line 2, ../sass/partials-main/_header.scss */
  header {
    overflow: hidden;
  }
}

/* line 13, ../sass/partials-main/_header.scss */
header .logo {
  float: left;
}

/* line 17, ../sass/partials-main/_header.scss */
.mobile-logo {
	font-size: 0;
}

/* line 17, ../sass/partials-main/_header.scss */
.center-content {
  position: relative;
  height: 60px;
  margin: 0 auto;
  max-width: 1080px;
}

/* line 23, ../sass/partials-main/_header.scss */
.western-header {
  border-top: 6px solid #0083d6;
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  box-sizing: content-box;
}
/* line 34, ../sass/partials-main/_header.scss */
.western-header nav {
  display: inline-block;
  position: absolute;
  right: -15px;
  margin-top: 0;
}
@media (max-width: 770px) {
  /* line 34, ../sass/partials-main/_header.scss */
  .western-header nav {
    box-shadow: 0px 0px 5px #333;
    width: 44px;
    height: 88px;
  }
}
@media (max-width: 770px) {
  /* line 23, ../sass/partials-main/_header.scss */
  .western-header {
    border-top: none;
  }
}

/* line 51, ../sass/partials-main/_header.scss */
.western-quick-links {
  display: inline-block;
  float: left;
  position: static;
  margin-right: 15px;
  margin-top: 10px;
  font-size: 13px;
  color: #003f87;
}
/* line 60, ../sass/partials-main/_header.scss */
.western-quick-links li {
  display: inline-block;
}
/* line 63, ../sass/partials-main/_header.scss */
.western-quick-links ul li a {
  text-decoration: underline;
  padding: 5px;
  color: #003f87;
  border: 2px solid transparent;
}

@media (min-width: 771px) {
  /* line 51, ../sass/partials-main/_header.scss */
  .western-quick-links {
    margin-right: 54px;
  }
  /* line 73, ../sass/partials-main/_header.scss */
  .western-quick-links li {
    margin-left: 10px;
  }
}
@media (max-width: 770px) {
  /* line 51, ../sass/partials-main/_header.scss */
  .western-quick-links {
    background-color: #fff;
  }
  /* line 82, ../sass/partials-main/_header.scss */
  .western-quick-links ul {
    display: table;
    background: white;
    position: absolute;
    top: 0;
    right: -250px;
    width: 255px;
    padding: 10px;
    box-shadow: #333 0 0 8px;
  }
  /* line 93, ../sass/partials-main/_header.scss */
  .western-quick-links li {
    display: table-cell;
    text-align: center;
  }
  /* line 98, ../sass/partials-main/_header.scss */
  .western-quick-links span:nth-of-type(2) {
    font-size: .775em;
  }
  /* line 102, ../sass/partials-main/_header.scss */
  .western-quick-links a:hover > span:first-of-type {
    color: #bad80a;
  }
  /* line 106, ../sass/partials-main/_header.scss */
  .western-quick-links a:hover > span:last-of-type {
    color: #006b3f;
  }
}

/* line 112, ../sass/partials-main/_header.scss */
.toggle-quick-links {
  font-size: 0;
  width: 44px;
  height: 44px;
  background-color: #33659f;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("../images/search-bg.png");
  background-position: 0 -132px;
  z-index: 1;
}
@media (min-width: 771px) {
  /* line 112, ../sass/partials-main/_header.scss */
  .toggle-quick-links {
    display: none;
  }
}

/* line 129, ../sass/partials-main/_header.scss */
.mobile-main-nav {
  font-size: 0;
  width: 44px;
  height: 44px;
  background-color: #33659f;
  border: none;
  position: absolute;
  right: 0;
  top: 44px;
  background-image: url("../images/search-bg.png");
  background-position: 0 -88px;
}
@media (min-width: 771px) {
  /* line 129, ../sass/partials-main/_header.scss */
  .mobile-main-nav {
    display: none;
  }
}

@media (min-width: 771px) {
  /* line 146, ../sass/partials-main/_header.scss */
  .menu-link-icon {
    display: none;
  }
}

@media (max-width: 770px) {
  /* line 152, ../sass/partials-main/_header.scss */
  .mobile-logo {
    background-image: url("../images/logo-horizontal.svg");
    background-repeat: no-repeat;
    background-color: #003f87;
    background-size: 65%;
    background-position: 50%;
    width: 100%;
    height: 88px;
    position: absolute;
    top: 0;
    right: 35px;
  }

  .mobile-menu-bar {
    position: absolute;
    top: 58px;
  }
}

@media (max-width: 420px) {
  .mobile-logo {
    background-size: 85%;
  }
}

@media (min-width: 771px) {
  /* line 167, ../sass/partials-main/_header.scss */
  a.has-logo {
    display: block;
    margin-left: 50px;
    margin-top: -4px;
    width: 250px;
    height: 174px;
  }
  /* line 174, ../sass/partials-main/_header.scss */
  .western-logo a {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    text-transform: capitalize;
  }

  .mobile-logo {
    display: none;
  }
}

@media (max-width: 770px) {
  /* line 167, ../sass/partials-main/_header.scss */
  a.has-logo {
    display: none;
  }
}

/* line 182, ../sass/partials-main/_header.scss */
.site-title {
  background-color: #bad80a;
}

/* line 185, ../sass/partials-main/_header.scss */
.site-title span {
  position: relative;
  left: 0;
  color: #003f87;
  font-size: 1.1em;
  line-height: 2em;
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
}
@media (min-width: 770px) {
  /* line 185, ../sass/partials-main/_header.scss */
  .site-title span {
    text-align: left;
    margin-left: 20px;
    left: 300px;
  }
}

/* line 199, ../sass/partials-main/_header.scss */
.page-header-container {
  background-color: #fff;
  width: 100%;
  max-width: 1080px;
  padding: 10px;
  margin-left: 50%;
  transform: translatex(-50%);
  margin-top: 65px;
  box-sizing: border-box;
}
/* line 209, ../sass/partials-main/_header.scss */
.page-header-container a {
  text-decoration: none;
}
@media (max-width: 770px) {
  /* line 199, ../sass/partials-main/_header.scss */
  .page-header-container {
    background-color: #0083d6;
    width: 100vw;
    text-align: center;
    padding: 0;
  }
}

/* line 221, ../sass/partials-main/_header.scss */
.page-title {
  background-color: #ededed;
  background-image: url("../images/splash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  width: 100%;
  height: 185px;
  margin-bottom: 10px;
  text-align: center;
}
/* line 232, ../sass/partials-main/_header.scss */
.page-title h2 {
  display: none;
  color: #fff;
  transform: translatey(100%);
  font-family: Muli;
  font-weight: 400;
  font-size: 1.2em;
}
@media (max-width: 770px) {
  /* line 221, ../sass/partials-main/_header.scss */
  .page-title {
    background: none !important;
    height: 75px;
    text-align: left;
    margin-left: 20px;
    margin-top: -20px;
  }
  /* line 248, ../sass/partials-main/_header.scss */
  .page-title h2 {
    display: inherit;
  }
}

/* line 254, ../sass/partials-main/_header.scss */
.menu-bar {
  background-color: #fff;
  width: 100%;
}
/* line 258, ../sass/partials-main/_header.scss */
.menu-bar :first-child {
  margin-left: 0;
}
/* line 261, ../sass/partials-main/_header.scss */
.menu-bar :last-child {
  margin-right: 0;
}
/* line 265, ../sass/partials-main/_header.scss */
.menu-bar a {
  text-decoration: none;
  text-align: center;
  transition: .3s ease-in-out;
  display: block;
  padding: 8px;
}
/* line 272, ../sass/partials-main/_header.scss */
.menu-bar a, .menu-bar a.selected:hover {
  background-color: #003f87;
  color: #fff;
}
/* line 276, ../sass/partials-main/_header.scss */
.menu-bar a:hover, .menu-bar a.selected {
  background-color: #ededed;
  color: #003f87;
}
@media (min-width: 771px) {
  /* line 254, ../sass/partials-main/_header.scss */
  .menu-bar {
    display: inherit !important;
  }
  /* line 285, ../sass/partials-main/_header.scss */
  .menu-bar .expand {
    display: none;
  }
  /* line 288, ../sass/partials-main/_header.scss */
  .menu-bar ul {
    display: flex;
    list-style: none;
  }
  /* line 293, ../sass/partials-main/_header.scss */
  .menu-bar li {
    max-height: 40px;
    margin: 0 5px;
    flex: 1;
    text-align: center;
  }
  /* line 300, ../sass/partials-main/_header.scss */
  .menu-bar ul ul {
    transition: .5s ease-in-out;
  }
  /* line 305, ../sass/partials-main/_header.scss */
  .menu-bar ul ul a {
    background-color: #33659f;
  }
  /* line 309, ../sass/partials-main/_header.scss */
  .menu-bar ul ul li {
    width: 100%;
    max-height: none;
    position: relative;
    margin: 0;
    border-top: 1px solid #ededed;
  }
  /* line 317, ../sass/partials-main/_header.scss */
  .menu-bar ul li:hover > ul {
    display: inherit;
  }
  /* line 322, ../sass/partials-main/_header.scss */
  .menu-bar ul ul ul li {
    position: absolute;
    left: 100%;
    top: -1px;
    border-left: 1px solid white;
  }
}
@media (max-width: 770px) {
  /* line 254, ../sass/partials-main/_header.scss */
  .menu-bar {
    border-bottom: 1px solid #fff;
    display: none;
  }
  /* line 334, ../sass/partials-main/_header.scss */
  .menu-bar ul {
    display: inherit;
  }
  /* line 337, ../sass/partials-main/_header.scss */
  .menu-bar li {
    border-top: 1px solid #fff;
  }
  /* line 340, ../sass/partials-main/_header.scss */
  .menu-bar a {
    text-align: left;
    padding-left: 1em;
  }
  /* line 345, ../sass/partials-main/_header.scss */
  .menu-bar .expand {
    opacity: 0;
    background-color: #003f87;
    color: white;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
    display: inline-block;
    position: absolute;
    right: 8px;
    transform: translatey(-100%);
    padding: 8px;
    width: 20px;
    text-align: center;
    cursor: pointer;
  }
  /* line 362, ../sass/partials-main/_header.scss */
  .menu-bar ul ul a, .menu-bar ul ul .expand {
    background-color: #33659f;
  }
  /* line 368, ../sass/partials-main/_header.scss */
  .menu-bar ul ul ul a, .menu-bar ul ul ul .expand {
    background-color: #66b5e6;
  }
}

/* line 5, ../sass/partials-main/_search.scss */
header[role="banner"] button {
  outline: none;
}

/* line 9, ../sass/partials-main/_search.scss */
.western-search {
  display: inline-block;
  float: left;
  position: static;
}
/* line 14, ../sass/partials-main/_search.scss */
.western-search button {
  display: block;
  border: none;
  height: 44px;
  width: 44px;
  cursor: pointer;
  background-color: #0083d6;
  font-size: 0;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("../images/search-bg.png");
  background-position: 0 0;
}
@media (max-width: 770px) {
  /* line 14, ../sass/partials-main/_search.scss */
  .western-search button {
    background-color: #33659f;
    top: 44px;
    background-position: 0 -44px;
  }
}

/* line 38, ../sass/partials-main/_search.scss */
.western-search-widget {
  display: none;
  background-color: #fff;
  position: absolute;
  right: 44px;
  margin-top: 0;
  top: 72px;
  right: -300px;
  overflow: hidden;
  padding: 0;
  z-index: -1;
  font-family: "Muli", Tahoma, Verdana, "DejaVu Sans", sans-serif;
  width: 300px;
  height: 60px;
  box-shadow: 0 0 8px #333;
}
/* line 54, ../sass/partials-main/_search.scss */
.western-search-widget .form-item-searchWestern {
  font-size: .6em;
  color: #c8c8c8;
}
/* line 59, ../sass/partials-main/_search.scss */
.western-search-widget .western-search-terms {
  padding: 9px;
  border: 1px solid #E4E4E4;
  border-bottom: none;
}
/* line 64, ../sass/partials-main/_search.scss */
.western-search-widget .western-search-terms:before {
  display: none;
}
/* line 68, ../sass/partials-main/_search.scss */
.western-search-widget .western-search-terms label {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
}
/* line 71, ../sass/partials-main/_search.scss */
.western-search-widget input {
  border: none;
  border-bottom: 1px solid #bad80a;
  margin: 10px 0 0 10px;
  font-size: .8em;
}
/* line 77, ../sass/partials-main/_search.scss */
.western-search-widget input[type="submit"] {
  background-color: #0083d6;
  color: #fff;
  margin: 0;
  padding: 0 1em;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  font-size: 0.875em;
  cursor: pointer;
}
/* line 90, ../sass/partials-main/_search.scss */
.western-search-widget #searchfield {
  width: 100%;
  font-size: 0.875em;
  font-family: "Muli", Tahoma, Verdana, "DejaVu Sans", sans-serif;
  border: none;
  padding: .25em .25em .1em 0;
  background-color: transparent;
  margin-left: 0;
  line-height: normal;
  color: black;
  position: initial;
}
@media (min-width: 771px) {
  /* line 38, ../sass/partials-main/_search.scss */
  .western-search-widget {
    transform: translatex(44px);
    top: 44px;
  }
}

/*** General Styling ***/
/* line 2, ../sass/partials-main/_general.scss */
body {
  font-family: "Muli", Tahoma, Verdana, "DejaVu Sans", sans-serif;
  background: #e3e3e3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
}
@media (max-width: 770px) {
  /* line 2, ../sass/partials-main/_general.scss */
  body {
    background-color: #fff;
  }
}

/* line 13, ../sass/partials-main/_general.scss */
h1, h2, h3, h4, h5 {
  color: #003f87;
  margin-top: .5em;
  margin-bottom: .5em;
}

/* line 19, ../sass/partials-main/_general.scss */
h1 {
  font-size: 28px;
  margin-top: 0;
}

/* line 23, ../sass/partials-main/_general.scss */
h2 {
  font-size: 28px;
}

/* line 26, ../sass/partials-main/_general.scss */
h3 {
  font-size: 25.6px;
}

/* line 29, ../sass/partials-main/_general.scss */
h4 {
  font-size: 24px;
}

/* line 32, ../sass/partials-main/_general.scss */
h5 {
  font-size: 18.72px;
}

/* line 35, ../sass/partials-main/_general.scss */
h6 {
  font-size: 14.8px;
}

/* line 38, ../sass/partials-main/_general.scss */
p {
  margin: 0.5em;
}

/* line 44, ../sass/partials-main/_general.scss */
.has-children ul {
  display: none;
}

/* line 49, ../sass/partials-main/_general.scss */
.main-container {
  background-color: #fff;
  width: 100%;
  max-width: 1080px;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 60px;
}
/* line 59, ../sass/partials-main/_general.scss */
.main-container h1 {
  border-bottom: 3px solid #ededed;
}
@media (max-width: 770px) {
  /* line 59, ../sass/partials-main/_general.scss */
  .main-container h1 {
    border: none;
  }
}
/* line 67, ../sass/partials-main/_general.scss */
.main-container a {
  color: #0083d6;
  text-decoration: none;
}
/* line 71, ../sass/partials-main/_general.scss */
.main-container a:hover {
  text-decoration: underline;
}
/* line 74, ../sass/partials-main/_general.scss */
.main-container li {
  margin-left: 2em;
}

/* line 83, ../sass/partials-main/_general.scss */
.column-wrapper {
  display: flex;
}
/* line 85, ../sass/partials-main/_general.scss */
.column-wrapper > * {
  margin: 0 5px;
}
/* line 88, ../sass/partials-main/_general.scss */
.column-wrapper > :first-child {
  margin-left: -10px;
}
/* line 91, ../sass/partials-main/_general.scss */
.column-wrapper > :last-child {
  margin-right: -10px;
  padding-right: 10px;
}

/* line 97, ../sass/partials-main/_general.scss */
.sidebar {
  flex: 1 1 30%;
}

/* line 105, ../sass/partials-main/_general.scss */
.main-column {
  flex: 3 1 70%;
  padding: 0 10px;
}
@media (max-width: 770px) {
  /* line 105, ../sass/partials-main/_general.scss */
  .main-column {
    margin-left: -10px;
    flex: 3 1 auto;
  }
  .sidebar {
    flex: 1 1 auto;
  }
}

/* line 115, ../sass/partials-main/_general.scss */
.accordion-menu ul {
  list-style: none;
}
/* line 118, ../sass/partials-main/_general.scss */
.accordion-menu li {
  background-color: #f2f2f2;
  margin-left: 10px;
}
/* line 122, ../sass/partials-main/_general.scss */
.accordion-menu a {
  background-color: #f2f2f2;
  color: #000;
  width: 100%;
  padding: 10px 10px 10px 20px;
  border-bottom: 1px solid white;
  display: inline-block;
  box-sizing: border-box;
  text-align: left;
  transition: .2s ease-in-out;
}
/* line 133, ../sass/partials-main/_general.scss */
.accordion-menu a:hover {
  background-color: #ededed;
  text-decoration: none;
}
/* line 138, ../sass/partials-main/_general.scss */
.accordion-menu .expand {
  background-color: #ededed;
  border-left: 1px solid #fff;
  display: inline-block;
  position: absolute;
  transform: translatex(-100%);
  padding: 10px;
  width: 20px;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 770px) {
  /* line 146, ../sass/partials-main/_general.scss */
  .accordion-menu {
    display: none;
  }
}

/* line 4, ../sass/partials-main/_footer.scss */
.subfooter {
  font-family: "Ovo", serif;
  margin: 15px 0;
}
/* line 8, ../sass/partials-main/_footer.scss */
.subfooter .end-title {
  color: #999;
  position: absolute;
  width: 170px;
  height: 30px;
  left: 0;
  right: 0;
  background-color: #E3E3E3;
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  z-index: 1;
}
/* line 21, ../sass/partials-main/_footer.scss */
.subfooter .line {
  border-top: 2px dashed #AAA;
  width: 100%;
  display: block;
  float: left;
  position: relative;
  top: 10px;
  z-index: 0;
}
/* line 30, ../sass/partials-main/_footer.scss */
.subfooter .end-text, .subfooter p {
  color: #888;
  max-width: 450px;
  padding-top: 30px;
  margin: 0 auto;
  text-align: center;
}

/* line 39, ../sass/partials-main/_footer.scss */
.site-footer {
  padding-top: 1.25em;
  background-color: #003f87;
  font-family: "Muli", Tahoma, Verdana, "DejaVu Sans", sans-serif;
  color: white;
}
/* line 45, ../sass/partials-main/_footer.scss */
.site-footer a {
  color: white;
  font-weight: 300;
}
/* line 49, ../sass/partials-main/_footer.scss */
.site-footer a:hover, .site-footer a:focus {
  text-decoration: underline;
  color: #bad80a;
}
/* line 55, ../sass/partials-main/_footer.scss */
.site-footer h2, .site-footer h3, .site-footer h4 {
  color: white;
  margin-top: 0px;
}
@media (min-width: 771px) {
  /* line 39, ../sass/partials-main/_footer.scss */
  .site-footer {
    min-height: 12.5em;
    margin-top: 1.25em;
  }
}
@media (min-width: 771px) {
  /* line 65, ../sass/partials-main/_footer.scss */
  .site-footer .wrap {
    padding: 0 0.625em;
    margin: 0 auto;
    max-width: 76.25em;
    *position: relative;
    *zoom: 1;
  }

  .page_up_button {
    margin-right:1em;
  }

  /* line 45, ../../../../../../../var/lib/gems/1.9.1/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
  .site-footer .wrap:before, .site-footer .wrap:after {
    content: "";
    display: table;
  }
  /* line 50, ../../../../../../../var/lib/gems/1.9.1/gems/zen-grids-1.4/stylesheets/zen/_grids.scss */
  .site-footer .wrap:after {
    clear: both;
  }
}
/* line 74, ../sass/partials-main/_footer.scss */
.site-footer .footer-left {
  margin: 0 1.25em;
}
@media (min-width: 771px) {
  /* line 74, ../sass/partials-main/_footer.scss */
  .site-footer .footer-left {
    float: left;
    width: 33.33333%;
    margin-left: 0%;
    margin-right: -33.33333%;
    padding-left: 0px;
    padding-right: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("https://www.wwu.edu/wwucommon/lite/js/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
}
/* line 80, ../sass/partials-main/_footer.scss */
.site-footer .footer-center {
  margin: 0 1.25em;
}
@media (min-width: 771px) {
  /* line 80, ../sass/partials-main/_footer.scss */
  .site-footer .footer-center {
    float: left;
    width: 33.33333%;
    margin-left: 33.33333%;
    margin-right: -66.66667%;
    padding-left: 0px;
    padding-right: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("https://www.wwu.edu/wwucommon/lite/js/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
  /* line 84, ../sass/partials-main/_footer.scss */
  .site-footer .footer-center section {
    margin: 0 auto;
    width: 80%;
  }
}
@media (max-width: 770px) {
  /* line 80, ../sass/partials-main/_footer.scss */
  .site-footer .footer-center {
    margin-bottom: 20px;
  }
}
@media (min-width: 771px) {
  /* line 93, ../sass/partials-main/_footer.scss */
  .site-footer .footer-right {
    max-width: 325px;
    float: right;
    width: 33.33333%;
    margin-right: 0%;
    margin-left: -33.33333%;
    padding-left: 0px;
    padding-right: 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
    *behavior: url("https://www.wwu.edu/wwucommon/lite/js/boxsizing.htc");
    _display: inline;
    _overflow: hidden;
    _overflow-y: visible;
  }
}
/* line 99, ../sass/partials-main/_footer.scss */
.site-footer .menu {
  padding: 0 0 0 30px;
  transition: 0.2s;
}
@media (max-width: 950px) {
  /* line 99, ../sass/partials-main/_footer.scss */
  .site-footer .menu {
    padding: 0;
  }
}
@media (min-width: 770px) and (max-width: 950px) {
  /* line 99, ../sass/partials-main/_footer.scss */
  .site-footer .menu {
    max-width: 90%;
  }
}
/* line 110, ../sass/partials-main/_footer.scss */
.site-footer .menu li {
  border-bottom: 1px solid #fff;
  list-style-image: none;
  list-style-type: none;
  font-size: 0.875em;
  padding-top: 0.5em;
}
/* line 117, ../sass/partials-main/_footer.scss */
.site-footer .menu a {
  color: #fff;
  text-decoration: none;
  padding-left: 0.15em;
  transition: 0.05s;
  text-transform: capitalize;
}
/* line 124, ../sass/partials-main/_footer.scss */
.site-footer .menu a:hover {
  color: #bad80a;
}
/* line 129, ../sass/partials-main/_footer.scss */
.site-footer .amcl {
  text-transform: uppercase;
  max-width: 200px;
  font-size: 18px;
  border-top: 1px solid #0083d6;
  border-bottom: 1px solid #0083d6;
  padding: 10px 0;
  margin: 10px auto;
}
/* line 138, ../sass/partials-main/_footer.scss */
.site-footer .disclaimer {
  font-size: 0.875em;
  font-style: italic;
}

@media (min-width: 771px) {
  /* line 144, ../sass/partials-main/_footer.scss */
  .western-card {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNhNWE4ZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwM2Y4NyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3a5a8f), color-stop(100%, #003f87));
    background-image: -moz-linear-gradient(#3a5a8f, #003f87);
    background-image: -webkit-linear-gradient(#3a5a8f, #003f87);
    background-image: linear-gradient(#3a5a8f, #003f87);
    margin: 0;
    position: relative;
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.2s;
  }
}
/* line 153, ../sass/partials-main/_footer.scss */
.western-card h2 {
  padding: 0.8125em 0;
  background-color: #cce4f4;
  margin: 0;
  font-weight: normal;
  font-size: 0.9375em;
  line-height: 1em;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  box-sizing: border-box;
}
@media (min-width: 771px) {
  /* line 153, ../sass/partials-main/_footer.scss */
  .western-card h2 {
    margin-bottom: 1.25em;
    background-color: white;
    -moz-box-shadow: #555 0 0 7px;
    -webkit-box-shadow: #555 0 0 7px;
    box-shadow: #555 0 0 7px;
    font-size: 1rem;
    padding: 1.8%;
    }
  }
/* line 171, ../sass/partials-main/_footer.scss */
.western-card h2 > a {
  color: #0057a1;
  padding: 0 0.3125em;
}
/* line 175, ../sass/partials-main/_footer.scss */
.western-card h2 a:hover, .western-card h2 a:focus {
  color: #003f87;
  border-bottom-color: transparent;
  background-color: #99b2cf;
  text-decoration: none;
}

.western-card h2 a:focus {
  border: 2px dotted;
}
@media (min-width: 771px) {
  /* line 171, ../sass/partials-main/_footer.scss */
  .western-card h2 a {
    color: #006EBB;
  }

  .western-card h2 a:hover, .western-card h2 a:focus {
    color: #003f87;
    background-color: #e3e7e9;
    text-decoration: none;
  }
}
/* line 186, ../sass/partials-main/_footer.scss */
.western-card .western-contact-info {
  padding-top: 0.625em;
}
/* line 189, ../sass/partials-main/_footer.scss */
.western-card .western-contact-info p {
  margin-bottom: 1.25em;
  line-height: 18px;
  font-size: 0.75em;
  padding-left: 3.2em;
}
/* line 195, ../sass/partials-main/_footer.scss */
.western-card .western-contact-info p:before {
  color: #ffc61e;
  display: block;
  position: relative;
  height: 0px;
  top: 0;
  left: -20px;
  font-size: 110%;
}
@media (min-width: 771px) {
  /* line 186, ../sass/partials-main/_footer.scss */
  .western-card .western-contact-info {
    padding-top: 0px;
  }
}
/* line 211, ../sass/partials-main/_footer.scss */
.western-card .western-address:before {
  font-family: fontello;
  content: "";
}
/* line 214, ../sass/partials-main/_footer.scss */
.western-card .western-telephone:before {
  font-family: fontello;
  content: "!";
}
/* line 217, ../sass/partials-main/_footer.scss */
.western-card .western-contact:before {
  font-family: fontello;
  content: "%";
}
/* line 222, ../sass/partials-main/_footer.scss */
.western-card .western-social-media {
  padding-left: 1.0625em;
  min-height: 55px;
  font-family: fontello;
}
/* line 228, ../sass/partials-main/_footer.scss */
.western-card .western-social-media li {
  display: inline-block;
  font-size: 24px;
  height: 24px;
}
/* line 233, ../sass/partials-main/_footer.scss */
.western-card .western-social-media a {
  position: relative;
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 24px;
  height: 24px;
  top: -24px;
  border: 3px solid transparent;
}
/* line 243, ../sass/partials-main/_footer.scss */
.western-card .western-social-media a:focus, .western-card .western-social-media a:hover {
  border-bottom: 3px solid #bad80a;
}
/* line 251, ../sass/partials-main/_footer.scss */
.western-card .western-social-media .western-facebook-icon:before {
  content: "ā";
}
/* line 251, ../sass/partials-main/_footer.scss */
.western-card .western-social-media .western-flickr-icon:before {
  content: "Ă";
}
/* line 251, ../sass/partials-main/_footer.scss */
.western-card .western-social-media .western-googleplus-icon:before {
  content: "ă";
}
/* line 251, ../sass/partials-main/_footer.scss */
.western-card .western-social-media .western-instagram-icon:before {
  content: "Ą";
}
/* line 251, ../sass/partials-main/_footer.scss */
.western-card .western-social-media .western-tumblr-icon:before {
  content: "ą";
}
/* line 251, ../sass/partials-main/_footer.scss */
.western-card .western-social-media .western-twitter-icon:before {
  content: "Ć";
}
/* line 251, ../sass/partials-main/_footer.scss */
.western-card .western-social-media .western-rss-icon:before {
  content: "ć";
}
/* line 251, ../sass/partials-main/_footer.scss */
.western-card .western-social-media .western-youtube-icon:before {
  content: "Ĉ";
}

/* line 258, ../sass/partials-main/_footer.scss */
#global-footer-content {
  background-color: #003f87;
  color: white;
  line-height: 20px;
  text-align: center;
}
@media (max-width: 770px) {
  /* line 258, ../sass/partials-main/_footer.scss */
  #global-footer-content {
    font-size: 12px;
    padding: 0 5%;
  }

  p a {
    display: block;
    float: none;
  }
  /* line 268, ../sass/partials-main/_footer.scss */
  #global-footer-content #global-footer-content-inner {
    border-top: 1px solid rgba(255, 255, 255, 0.8);
  }
}
